# Firebase Admin SDK Configuration (Backend)
FIREBASE_PROJECT_ID=dino-app-87228
FIREBASE_PRIVATE_KEY_ID=your-private-key-id-here
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour-Private-Key-Here\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@dino-app-87228.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your-client-id-here
FIREBASE_CLIENT_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxx%40dino-app-87228.iam.gserviceaccount.com


# Supabase Configuration
SUPABASE_URL=https://vmvcicptjgivizqadnmg.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtdmNpY3B0amdpdml6cWFkbm1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE0ODMxODUsImV4cCI6MjA1NzA1OTE4NX0.0DHKa6a8aE13nZqW6WDrighSDltGEmK2BTb4fGOaZDc

# Server Configuration
PORT=8000
HOST=0.0.0.0
ENVIRONMENT=development # development, production, testing 